{ box sizing: border-box; }

/* Header */
header {
	text-align: center; 
	position: relative;
	top: 0rem;
	left: 0;
	right: 0;
	width: 100%; 
	height: 1rem; }


/* Nav */
div.Nav {
	margin-top: 0rem;
	margin-bottom: 3rem;
	text-align: center; 
	position: relative;
	top: 1rem;
	left: 0;
	right: 0;
	width: 100%; 
	height: 1rem;}

ul.Nav {
  list-style-type: none;
  display: inline-flex; }

ul.Nav a{
	color: black;
	margin: 2rem;  
	text-decoration: none;
	font-weight: bold; }

ul.Nav a:hover {
	color: pink; }


/* Fonts */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

body {
 font-family: source_sans_proregular, sans-serif; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url("fonts/Roboto-Regular.woff") format('woff'), url('Roboto-Regular.ttf')  format('truetype'), url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: bolder;
  font-style: normal; } 

header, nav {
  font-family: Roboto-Regular, sans-serif; 
  font-weight: bold;}


/* Body */
body {
	background: url('../images/header.jpg') repeat;
	background-attachment: fixed; 
	background-position: center;
	background-size: cover; }

body {
	position: absolute;
	left: 0rem;
	right: 0rem;
	width: 100%; 
	height: 100%;}	


/* Contact Information */
h3 {
	font-size: 1.5rem; 
	text-align: center;
	padding: 0;}

div.social {
	float: left; 
	position: relative;
	left: 2rem;
	top: 0.5rem;
	text-align: center;
	width: 40%;}

ul a {
	margin-left: 1rem; 
	margin-right: 1rem;}

/* Contact Box */
div.ContactBox {
    background-color: #e5e8ed;
	border: 3px solid black;
    border-radius: 0.4rem;
    float: right;
    padding: 1rem; 
	position: relative;
	right: 7rem;
	top: 1.5rem;
	bottom: 2rem;
	margin-bottom: 2rem;
	width: 40%; 
	z-index: 10; }

h2 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	text-align: center; }

input[type=text], select, textarea { 
    border: 2px solid black;
    border-radius: 0.25rem;
    box-sizing: border-box; 
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    resize: vertical; 
	width: 100%; }

input[type=submit] {
    background-color: pink;
    color: black;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer; }

input[type=submit]:hover {
    background-color: pink; }

	
