*{box-sizing: border-box; }

/* Header */
header {
	text-align: center; 
	position: relative;
	top: 0rem;
	left: 0;
	right: 0;
	width: auto; 
	height: 1rem; }


/* Nav */
div.Nav {
	margin-top: 0rem;
	margin-bottom: 3rem;
	text-align: center; 
	position: relative;
	top: 1rem;
	left: 0;
	right: 0;
	width: 100%; 
	height: 1rem;}

ul.Nav {
  list-style-type: none;
  display: inline-flex; }

ul.Nav a{
	color: black;
	border: 2px solid transparent;
	margin: 2rem;  
	padding: 0.25rem;
	text-decoration: none;
	font-weight: bold; }

ul.Nav a:hover {
	border: 2px solid #ffb400; }


/* Fonts */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

body {
 font-family: source_sans_proregular, sans-serif; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url("fonts/Roboto-Regular.woff") format('woff'), url('Roboto-Regular.ttf')  format('truetype'), url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: bold;
  font-style: normal; } 

header, nav {
  font-family: Roboto-Regular, sans-serif; 
  font-weight: bold;}


/* Body */
body {
	background: url('../images/header.jpg') repeat;
	background-attachment: fixed; 
	background-position: center;
	background-size: cover; }

body {
	position: absolute;
	width: 100%; 
	height: 100%;}	


/* Contact Box */
div.ContactBox {
	margin-left: auto;
	margin-right: auto;
	width: 35rem;
    border-radius: 0.4rem;
    padding: 1rem; 
	top: 2.2rem;
	bottom: 2rem;
	margin-bottom: 2rem;
	z-index: 10; } 

input[type=text], select, textarea { 
    border: 1px solid black;
 	border: 3px solid transparent;
    box-sizing: border-box; 
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    resize: vertical; 
	width: 100%; }

input[type=submit] {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 1rem 1.5rem;
    cursor: pointer; }

input[type=submit]:hover {
    background-color: #ffb400; }

input[type=text]:hover, select:hover, textarea:hover {
    border: 3px solid #ffb400; }

input[type=submit] {
	margin-left: 84%;}


/* Footer */
footer {
	margin-left: auto;
	margin-right: auto;	
	text-align: center;}

a.linkedin, a.facebook, a.twitter, a.insta, a.resume {
	padding-left: 0.5rem; 
	padding-right: 0.5rem; }

ul.social {
	list-style-type: none;
	display: inline-flex; }
